#paper {
    white-space: pre-wrap;
    color: var(--black);
    padding: 25px;
    background-image: url('../../assets/paper.jpg');
    background-repeat: repeat;
    min-height: 30vh;
    border-radius: 20px;
    width: 50%;
    word-break:keep-all
}

.reading {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.explanation {
    width: 50%;
}

@media (max-width: 1100px) {
    .explanation {
        align-self: flex-start;
    }
    .reading {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    #paper {
        width: 90vw;
        font-size: 18px;
        padding: 20px;
    }
}

@media (max-width: 650px) {
    #paper {
        width: 80vw;
    }
}